<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UILabel-Inset.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F735975D1F46638B000AED05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F73597761F46638D000AED05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F73597811F46638E000AED05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
